@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Bodoni+Moda&family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gelasio:ital,wght@0,400;0,500;1,400;1,500&display=swap');
html, body {
    scroll-behavior: smooth;
    margin: 0;
    background: white;
    font-family: 'Gelasio', serif;
    letter-spacing:.01em;
    font-weight:200;
    font-size:1em;
    color: #3d3d3d;
}

/* Navigation */
#logo-link{
    width:140px;
    margin:0 auto;
    display:inline-flex;
}
path{
    fill: #410e30;
    outline:#000;
}
.spacer{
    height:3em;
}

.mapboxgl-popup-content {
    border-width:1px !important;
    border-style:solid !important;
    border-color:#2E333F !important;
    box-sizing:border-box !important;
    padding:15px ! important;
    max-width:250px !important;
}

.mapboxgl-popup-content-wrapper {
    padding:15px !important;
}
.pop-headline-1 {
    display: inline-flex;
    padding:4px 5px 4px 5px;
    letter-spacing: .08em;
    font-weight:600;
    font-family: 'Asap', sans-serif;
    margin-bottom:20px;
    border-style: solid;
    border-color:black;
    border-width:1px;
    font-size:1.3em !important;
    text-transform: uppercase;
    background-color:#8F0043;
    color:white;
}
.pop-headline-2 {
    display: inline-flex;
    padding:4px 5px 4px 5px;
    letter-spacing: .08em;
    font-weight:600;
    font-family: 'Asap', sans-serif;
    margin-bottom:20px;
    border-style: solid;
    border-color:black;
    border-width:1px;
    font-family: 'Asap', sans-serif;
    font-size:1.3em !important;
    text-transform: uppercase;
    color:white;
    background-color:#f0203cf9;

}
.pop-headline-3 {
    display: inline-flex;
    padding:4px 5px 4px 5px;			
    letter-spacing: .08em;
    font-weight:600;
    font-family: 'Asap', sans-serif;
    margin-bottom:20px;
    border-style: solid;
    border-color:black;
    border-width:1px;
    font-family: 'Asap', sans-serif;
    font-size:1.3em !important;
    text-transform: uppercase;
    text-align:center;
    background-color:#FF5400;
    color:white;

}
.pop-headline-4 {
    display: inline-flex;
    padding:4px 5px 4px 5px;			
    letter-spacing: .08em;
    font-weight:600;
    font-family: 'Asap', sans-serif;
    margin-bottom:20px;
    border-style: solid;
    border-color:black;
    border-width:1px;
    font-family: 'Asap', sans-serif;
    font-size:1.3em !important;
    text-transform: uppercase;
    background-color:#ffc832;
    color:black;

}
.pop-headline-5 {
    display: inline-flex;
    padding:4px 5px 4px 5px;			
    letter-spacing: .08em;
    font-weight:600;
    font-family: 'Asap', sans-serif;
    margin-bottom:20px;
    border-style: solid;
    border-color:black;
    border-width:1px;
    font-family: 'Asap', sans-serif;
    font-size:1.3em !important;
    text-transform: uppercase;
    background-color:#cdcdcd;
    color:black;

}
.pop-violation-count {
    color:#2E333F;
    font-family: 'Asap',sans-serif;
    font-size:2em;
    font-weight:800;
    margin-top:10px;
    text-align:center;
    line-height:1em;
}

.pop-facility-name {
    color:#2E333F;
    font-family:'Asap',sans-serif;
    letter-spacing:.01em;
    width: 100%;
    margin-top:10px;
    text-align:center;
    display:inline-flex;
    margin: 0 auto;
    font-size:1.6em;
}
.pop-body {
    font-family:"Asap", sans-serif;
    font-size:1.1em;
    line-height:1.8em;
    color:#2E333F;
    width:100%;
    margin: 0 auto;

}
#nav{
    display:flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.icon{
    height:18px;
    width:auto;
    margin-left:10px;
    vertical-align:middle
}
#select-menu {
    border-width:1px;
    border-style:solid;
    border-color:#2E333F;
    border-radius:4px;
    background-color:white;
    font-family: 'Asap', sans-serif;
    font-size:1.2em;
    padding:5px;
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 10;
}
#epaButton {
    border: 0;
    padding:0;
    background-color:white;
    font-family:inherit;
    font-style: inherit;
    font-size:inherit;
    text-decoration:underline;
    color:inherit;
}
#epaButton:hover {
    background-color:#FFBD00;
}
#epaButton2 {
    border: 0;
    padding:0;
    background-color:inherit;
    font-family:inherit;
    font-style: inherit;
    font-size:inherit;
    text-decoration:underline;
    color:inherit;
}
#epaButton2:hover {
    background-color:#FFBD00;
}
#dot-size-img{
    width:80%;
    margin:0 auto"
}
.legend-container a{
    font:inherit;
    text-transform:none;
}
.legend-container {
    background-color: white;
    border: 1px solid black;
    opacity: 90%;
    border-radius: .5em;
    bottom: 2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px 'Gelasio', serif;
    padding: .5em 1.5em 0em;
    position: absolute;
    max-width: 30%;
    margin: 0em 5em;
    z-index: 1;
    /* font-size:1.2em; */
}
    .legend-container p{
        font-family: 'Gelasio',serif;
        text-transform:none;
        /* font-size:1.1em !important; */
        line-height:1.5em;
        margin-top:10px;
        margin-bottom:10px;
        font-style: italic;
        font-size:1.3em;
    }
    .legend-container a{
        font-size:inherit;
    }
    .legend-container div span {
        border-radius: 95%;
        display: inline-block;
        height: 10px;
        margin-left: 5px;
        width: 10px;
        font-family: 'Gelasio',serif;
        /* font-size:inherit; */
    }
.legend-container hr {
        margin-top: 1.5em;
        margin-bottom:1.5em;

    }

.legend1 {
font-family:'Asap', sans-serif;
text-transform: uppercase;
letter-spacing: .01em;
margin-top: 0;
font-weight: 700;
color:#242424;
padding: 1em 1em 1.5em 1em;
position: relative;
right: 10px;
z-index: 100;
opacity: 100%;
}
.legend-container h4 {
font-family:'Asap', sans-serif;
text-transform: none;
font-weight: 700;
margin-top:10px;
letter-spacing: .01em;
line-height:1.3em;
margin-bottom:7px;
font-size:1.4em;
opacity: 100%;
}
.legend1 a{
    text-transform: none;
    font-weight: 300;
    font-family:'Gelasio', serif;
    /* font-size:1.1em; */
}
#data-source{
    /* padding: 1em 1em 2em 1em;
    background-color:#2E333F;
    color:white; */
    width:100%;
    margin-bottom:1.5em;
    text-transform:uppercase;
    line-height:inherit;
    font-size:inherit;
    /* font-family:'Asap', sans-serif; */
}
#data-source p{
    font-family:'Gelasio',serif;

}

#data-source a{
    font-family:inherit;

}
.legend1 span {
border-radius: 0%;
/* display: inline-block; */
height: 15px;
margin-top: 10px;
margin-right: 15px;
width: 15px;
border-style: solid;
border-color: #2E333F;
border-width: 1px;
display: inline-block; 
/* flex-direction:column; */
align-items: center;
}

/* .legend2 h4 {
    margin: 0 0 0px;
    opacity: 100%
} */
/* .legend2 p {
    padding-top: 0px;
    margin-top: 0px;
} */
.legend2 .dots{
    display:flex;
    justify-content:space-evenly;
    line-height:1.5em;
    /* text-align:center; */
    margin: 0 auto;

}

.legend2 div span {
    border-radius: 50%;
    border-style: solid;
    border-color: #2E333F;
    border-width: 1px;
    margin: auto;
    display: inline-block;
    height: 5px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    width: 5px;
    opacity: 100%;

}

#title-mobile{
    display:none;
    width:auto;
    text-align:center;
    padding:15px 25px 15px 25px;
    /* background: linear-gradient(45deg,#495164,#2e333f); */
    background-color:#2E333F;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#intro-mobile{
    display:none;
    margin:0 auto;
    padding:0 25px 0;
    box-sizing:border-box;

}
#intro-mobile h2{
    text-transform:none;
    color:#2E333F;
    letter-spacing:normal;
    line-height:1.5em;
    font-size:1.5em;
}
#intro-mobile h4{
    text-transform:initial;
    margin-bottom:0;
    font-size:1.2em;
}
#intro-container{
    justify-content:center;
    display:none;
    flex-direction:column;
    width:100%;
}
#small-screen-alert{
    background-color:#f7f7f7;
    margin:0 auto;
    font-style:italic;
    color:#2E333F;
    display:none;
    box-sizing: border-box;
}
#small-screen-alert p{
    padding:20px 20px 20px !important;
}
.map-container{
    display:flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#mobile-legend{
    background-color:#f7f7f7;
    border-top: 1px solid black;
    display:none;
    padding:1.5em 0 1.5em;
    /* padding: 0 2em 0; */
}
#mobile-legend p{
    font-style:italic;
    line-height:1.5em;
}
#mobile-legend div{
    width:45%;
    margin:15px;

}
.source-legend{
    margin:.5em 0 !important;
    font-family:'Asap', sans-serif;
    font-weight:700;
    text-transform:uppercase;
}
.source-legend span{
    border-radius: 90%;
    height: 15px;
    margin-top: 10px;
    margin-right: 10px;
    width: 15px;
    border-style: solid;
    border-color: #2E333F;
    border-width: 1px;
    display: inline-block; 
    align-items: center;
}
#map{
    scroll-margin: 10px;
}
#methodology {
    width:600px;
    margin: 0 auto;
}
#intro-desktop h2{
    text-transform:none;
    color:#2E333F;
    letter-spacing:normal;
    line-height:1.5em;
    font-size:1.5em;
}
@media (min-width: 975px) {
    #map {
        min-height:558px;
        flex: 2;
        height: calc(100vh - 125px);
    }
    #articlePlace {
        flex: 1;
        height: calc(100vh - 125px);
        overflow: scroll;
        border-left: 1px solid black;
    }
    }
@media (max-width: 974px){
    #epa-class{
        background-color:#fff;
    }
    .map-container{
        flex-direction:column;
        width:100%;
    }
    #map {
        width:100%;
        height: calc(100vh - 110px);
        
    }
    #articlePlace {
        flex: 1;
        height:auto;
        overflow: scroll;
        border-top: 1px solid black;
    }
    #intro-desktop{
        display:none;
    }
    #title-desktop{
        display:none;
    }
    #intro-container{
        display:flex;
    }
    #title-mobile{
        display:block;
        /* display:inline-flex; */
    }
    #intro-mobile{
        width:600px;
        display:flex;
        flex-direction:column;
        margin:0 auto;
        padding:20px 20px 20px;
        box-sizing:border-box;
    }
}
@media (max-width:630px){
    p {
        font-size:1.2em;
    }
    .modal-content{
        width:70% !important;
    }
    #select-menu {
        visibility:hidden;
    }
    #small-screen-alert{
        display:flex;
    }
    .legend-container{
        display:none;
    }
    #map {
        height: calc(70vh);
    }
    #mobile-legend{
        display:flex;
        justify-content:center;
    }
    #mobile-legend div{
        width:100%;
    }
    #dot-size-img {
        width:100%;
    }
    #intro-mobile{
        width:100%;
        margin:0 auto;

    }
    #about-project{
        width:100% !important;
        padding:0px 10px !important;
        box-sizing: border-box !important;
        margin-top:30px !important;
    }
    #about-project p{
        padding-top:0px !important;
    }
    .header2{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        /* margin: 25px 0 0; */
    }
    #footer{
        flex-direction:column;
    }
    #footer-about{
        margin-right:0px !important;
        margin-bottom:20px;
        flex:1;
    }
    #footer-newsletter{
        margin-right:0px !important;
        margin-bottom:20px;
        flex:1;

    }
}

#content-container {
    width:90%;
    margin: 0 auto;
}
#content-container h4{
        text-transform: initial;
        font-size:1.6em;
}
.snippet{
    padding:20px 20px 30px;
}
.recent-vns-btn{
    border: 1px solid black;
    border-radius:.2em;
    padding:10px 15px 10px;
    text-decoration: none;
    text-transform:none;
    /* line-height:3em; */
    color:white;
    margin: 0 auto;
    text-align:center;
    display:table;
    background-color:#8F0043;
}
.recent-vns-btn:hover{
    background-color:#b10756;
    text-decoration:none;
}
.table-btn{
    border: 1px solid black;
    border-radius:.2em;
    padding:10px 15px 10px;
    text-decoration: none;
    text-transform:none;
    /* line-height:3em; */
    color:black;
    margin: 0 auto;
    text-align:center;
    display:table;
    background-color:#FFBD00;
}
.table-btn:hover{
    background-color:#ffd254;
    text-decoration:none;
}
.one-vn {
    width:100%;
    border: 1px solid black;
    border-radius:5px;
    margin-bottom:25px;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* flex:1; */
}
.one-vn:nth-child(n+7) {
    display: none;
  }
#source-button{
    width:140px;
    padding:10px;
    font-size:.8em;
    font-family:'Asap',sans-serif;
    font-weight: 700;
    background-color:#cacaca;
    margin-right:0;
    color:inherit;
    border: none;
    /* float:right; */
}
#source-button:hover{
    opacity:.5;
}
#share {
    background-color:#cacaca;
    /* background-color:white; */
    /* padding:10px; */
    justify-content:center;
    display:flex;
    border-bottom: 1px solid black;
}
#load-more{
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom:25px;

}
#loadMoreButton {
    width:300px;
    margin: 0 auto;
    margin-top:25px;
    font-family:'Asap',sans-serif;
    font-weight:700;
    font-size:1.1em;
    padding:10px;
    border: 1px solid black;
    border-radius:.2em;
}
#recent-violations-header-container {
    width:100%;
    background-color:#2E333F;
}
.header1{
    max-width:1000px;
    margin: 0 auto;
}
.header2{
    max-width:700px;
    margin: 0 auto;
}
.description{
    /* max-width:800px; */
    margin: 0 auto 40px;
}
#recent-violations {
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    /* align-items:start; */
}

#recent-violations h1{
    color:#2E333F;
    font-size:1.5em;
    margin-bottom:1em;
}
#recent-violations h3{
    color:white;
    font-family: 'Asap',sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:1.1em;
}
#recent-violations h3.dark{
    color:#2E333F;
    font-family: 'Asap',sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:1.1em;
}
#recent-violations a{
    /* color:#8F0043; */
    font-size:1em;
}
#recent-violations ul{
    font-size:1.1em;
    /* list-style:none; */
    padding-bottom:0;
    margin-left:-15px;   
}

li{
    margin: 10px 0;
}
a.read-more{
    font-family: 'Gelasio', serif;
    font-weight: 300;
    color: #8F0043;
    font-size:inherit;
    text-transform: none;

}
a.read-more:hover{
    color:#2E333F;
    background-color:white;
}
@media (min-width: 1275px) {
#recent-violations > * {
    width: calc(80% / 3);
    /* justify-content:space-between; */
    margin:15px;
}
}
@media (min-width: 995px) and (max-width:1274px) {
    #recent-violations > * {
        width: calc(80% / 2);
        /* justify-content:space-between; */
        margin:15px;
    }
}
.mapboxgl-ctrl-geocoder {
    border-style: solid;
    border-width: 1px;
    border-color:black;
}

.mapboxgl-ctrl-geocoder--input, .mapboxgl-ctrl-geocoder--suggestion-title, .mapboxgl-ctrl-geocoder--suggestion-address {
    font-family: "Asap", serif !important;
    text-transform: none;
    font-weight:300;
    font-size:1.1em !important;
    letter-spacing: .01 !important;
    /* font-weight:700 !important; */
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

br {
    line-height:1em;
}
#company-profile{
    width:auto;
    text-align:center;
    padding:15px 25px 15px 25px;
    /* background: linear-gradient(45deg,#495164,#2e333f); */
    background-color:#2E333F;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */

}
#company-profile:emtpy{
    display:none;
}

#company-profile hr{
    width:40%;
    margin-top:1.8em;
    margin-bottom:1.8em;
    opacity:.3;
}

#learn{
    border-top:1px solid black;
    width:auto;
    padding:1em 2.2em 1em 2.2em;
    background-color:#e8e8e8;
}
#learn h4{
    color:#8F0043;
    text-align:center;

}

.learn{
    font-family:'Asap', sans-serif;
    margin: 2em 0 2em 0;
}


.learn p{
    font-family:inherit;
}

#learn a{
    font-family:inherit;
    text-transform:none;
    font-size:inherit;
}
#dataset{
    /* border-top:1px solid black; */
    width:auto;
    padding:1em 2.2em 1em 2.2em;
    background-color:#e8e8e8;;
}

#dataset h4{
    font-weight:700;
    font-size:1.2em;
    font-family:'Asap', sans-serif;
    /* text-transform:initial; */
    color:#8F0043;
    text-align:center;
}

#dataset a{
    font-family:inherit;
    text-transform:none;
    font-size:inherit;
    color: inherit;
}
#dataset a:hover{
    background-color:#2E333F;
}
#company-violations{
    width: auto;
    padding:2em 2.2em 1em 2.2em;
    /* border-left: 1px solid black; */
}
p{
    font-family: 'Gelasio', serif;
    font-weight: 400;
    line-height: 1.7em;
    padding: .5em 0 0;
    font-size:1.1em;
    color: #1a1a1a;
}


.epa-class-1 {
    padding: 15px 25px 15px 25px;
    background-color: #8F0043;    
    letter-spacing: .05em;
    width:auto;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;

}
.epa-class-2 {
    background-color:#f0203cf9;
    padding: 15px 25px 15px 25px;
    letter-spacing: .05em;
    width:auto;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}
.epa-class-3 {
    background-color:#FF5400;
    padding: 15px 25px 15px 25px;
    letter-spacing: .05em;
    width:auto;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;

}
.epa-class-4 {
    background-color:#ffc832;
    padding: 15px 25px 15px 25px;
    letter-spacing: .05em;
    width:auto;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;

}
.epa-class-5 {
    background-color:#9b9b9b;
    padding: 15px 25px 15px 25px;
    letter-spacing: .05em;
    width:auto;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

h1 {
    font-size:1.9em;
    font-family:"Gelasio",serif;
    letter-spacing:.01em;
    line-height:1.5em;
    color:white;
    margin-bottom:10px;
}
h2{
    font-family:"Asap",sans-serif;
    letter-spacing:.04em; 
    text-transform: uppercase;
    /* text-transform:capitalize; */
    font-size:1.3em;
    font-weight:700;
    /* outline:black; */
    line-height:1.2em;
    color:#c3c0c0;
    /* color:#797979; */
    
}
h2.popup {
    color:#2E333F;
}
h3{
    font-family:"Gelasio",serif;
    font-weight: 400;
    font-size:1em;
    text-transform:none;
    /* color: #878787; */
    color:#bfbfbf;
    margin-top: 5px;
    margin-bottom:5px;
}
h3.epa-class-dark{
    font-family:'Asap', sans-serif;
    font-weight:700;
    text-transform:uppercase;
    /* font-size:1em; */
    color:black;
}
h3.epa-class{
    font-family:'Asap', sans-serif;
    font-weight:700;
    text-transform:uppercase;
    /* font-size:1em; */
    color:white;
}
h3.srn{
    font-family:'Asap', sans-serif;
    font-weight:700;
    text-transform:uppercase;
    /* font-size:1.1em; */
    color:white;
    text-align:right;
}
h3.srn-dark{
    font-family:'Asap', sans-serif;
    font-weight:700;
    text-transform:uppercase;
    /* font-size:1.1em; */
    color:black;
    text-align:right;
}
/* h3.group_1{
    font-family:'Asap', sans-serif;
    font-weight:600;
    text-transform:uppercase;
    font-size:1em;
    color:white;
    display: inline-flex;
    width:100%;
    margin: 0 auto;
}

h3.group_2{
    font-family:'Asap', sans-serif;
    font-weight:600;
    text-transform:uppercase;
    font-size:1.3em;
    color:white;
    width:100%; 
    margin: 0 auto;
    display: inline-flex;
}

h3.group_3{
    font-family:'Asap', sans-serif;
    font-weight:600;
    text-transform:uppercase;
    font-size:1.3em;
    color:white;
    display: inline-flex;
    margin: 0 auto;
    width:100%;

}

h3.group_4{
    font-family:'Asap', sans-serif;
    font-weight:600;
    text-transform:uppercase;
    font-size:1.3em;
    color:black;
    display: inline-flex;
    width:100%;
    margin: 0 auto;
}

h3.group_5{
    font-family:'Asap', sans-serif;
    font-weight:600;
    text-transform:uppercase;
    font-size:1.3em;
    color:white;
    display: inline-flex;
    width:100%;
    margin: 0 auto;
} */

h4{
    font-family: 'Asap', sans-serif;
    text-transform:uppercase;
    /* font-family: 'Gelasio', serif; */
    font-weight:700;
    line-height: 1.5em;
    margin-top:10px;
    font-size:1.1em;
    color: #3d3d3d;
}

#company-violations h4{
    font-family:'Gelasio',serif;
    text-transform:none;
}


h5{
    font-family: 'Gelasio',serif;
    font-weight: 300;
    line-height: 0;
    margin-bottom:1.2em;
    font-size:1em;
    color: #2E333F;
    
}
.location{
    /* font-weight:300; */
    font-size:1em;
    text-transform:none;
    font-family:'Gelasio',sans-serif;
    line-height:1.2em !important;
    font-size:.9em !important;
    /* font-size:1em; */
}
a.article {
    font-family:'Gelasio',serif;
    font-weight:300;
    text-transform:none;
    color:inherit;
    font-size:inherit;
}
a {
    font-family:'Asap', sans-serif;
    font-size:1.1em;
    font-weight: 700;
    text-transform:uppercase;
    color:#2E333F;
    text-decoration:underline;
    cursor:pointer;
}
#data-table{
    min-height:1000px;
    max-width:1000px;
    margin:0 auto;
}

#about-project{
    max-width:700px;
    margin:0 auto;
}

.home-link{
    margin: 0 auto;
}
.home-link:hover{
    background-color:inherit;
    opacity:.7;
}
#footer{
    display:flex;
    background-color:#2E333F;
    color:white;
    padding:2em 3em 2em;
    margin-top:20px;
}
#footer-about {
    flex:1.2;
    margin-right:5em;
}
#footer-about p{
    font-family:'Asap', sans-serif;
    font-weight:600;
    font-size:1.2em;
    letter-spacing:.02em;
    color:white;
}
#footer-newsletter{
    flex:1.2;
    margin-right:4em;
}
#footer-newsletter h4{
    color:white;
    text-transform:none;
    font-size:1.6em;
}
#footer-newsletter p{
    color:white;
    line-height:1.9em;
}
#footer-nav{
    flex:.8;
}
#footer-nav a{
    text-transform:uppercase;
    color:white;
    font-weight:500;
    text-decoration:none;
    letter-spacing:.02em;
}
#footer-nav a:hover{
    color:#aeba3c;
    background-color:inherit;
}
#footer-nav ul{
    list-style-type:none;
    margin-left:-40px;
}
#footer-nav li{
    margin: 20px 0;
}
#footer-copyright{
    background-color:#2E333F;
    padding:25px 25px 40px;
    font-family:"Roboto-Mono", monospace;
    font-size:.9em;
    color:white;
    margin:0auto;
    width:100%;
    text-align:center;
    box-sizing:border-box;

}
a.button-blue{
    padding:17px;
    background-color:#0274be;
    text-transform:none;
    text-decoration:none;
    letter-spacing:.02em;
    border-radius:.3em;
    color:white;
    font-family:'Asap', sans-serif;
    font-weight:700;
}
a.button-blue:hover{
    background-color: #aeba3c !important;
    color:#2E333F !important;
    text-decoration:none;
}
a.button-green{
    padding:17px;
    background-color:#aeba3c;
    text-transform:initial !important;
    text-decoration:none !important;
    letter-spacing:.02em;
    border-radius:.3em;
    color:#2E333F;
    display:inline-block;
    font-family:'Asap', sans-serif;
    font-weight:700 !important;
}
a.button-green:hover{
    background-color: #0274be !important;
    color:white !important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 6em; /* Location of the box */
    padding-bottom: 3em;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }

   /* Modal Content */
.modal-content {
    font-size:1em;
    background-color: #fefefe;
    margin: 0 auto 150px;
    padding: 1em 2.2em 1em 2.2em;
    border: 1px solid #888;
    width: 50%;
  }
  .modal-content h4{
    font-size:1.3em;
    text-transform:initial;
  }
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.caption{
    font-style:italic;
    color:#6d6d6d;
  }
a:hover{
    background-color: #FFBD00;
    text-decoration: underline;

}
.highlight-1{
    font-family:'Asap',sans-serif;
    text-transform:uppercase;
    letter-spacing:.01em;
    font-weight:700;
    background-color: #8F0043;
    border: 1px solid black;
    border-radius:.1em;
    padding:4px;
    color:white;
    margin-right:7px;
}


.highlight-2{
    font-family:'Asap',sans-serif;
    text-transform:uppercase;
    letter-spacing:.01em;
    font-weight:700;
    background-color: #FF0037;
    border: 1px solid black;
    border-radius:.1em;
    padding:4px;
    color:white;
    margin-right:7px;
}

.highlight-3{
    font-family:'Asap',sans-serif;
    text-transform:uppercase;
    letter-spacing:.01em;
    font-weight:700;
    background-color: #FF5400;
    border: 1px solid black;
    border-radius:.1em;
    padding:4px;
    color:white;
    margin-right:7px;
}

.highlight-4{
    font-family:'Asap',sans-serif;
    text-transform:uppercase;
    letter-spacing:.01em;
    font-weight:700;
    background-color: #FFBD00;
    border: 1px solid black;
    border-radius:.1em;
    padding:4px;
    margin-right:7px;
    color:black;
}

hr {
    
    border-top:1px solid #dedede;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }
ul {
      line-height: 1.7em;
    }
   